@font-face {
  font-family: 'headingFont';
  src: url('The_Bride_in_Hacienda.ttf');
}

.heading_box {
    background-color: white;
    background-opacity: 50%;
    font-family: 'headingFont';
}

body {
  background-image: url('IMG_2690.webp');
}
