@font-face {
  font-family: 'headingFont';
  src: url('The_Bride_in_Hacienda.ttf');
}

.heading_box {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'headingFont';
  text-align: center;
  font-size: 50px;
  color: #DB9E65;
}

.topnav {
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #DB9E65;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

body {
  background-image: url('IMG_2690.webp');
}
